<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script>
		const ROOM_ID = "<%= roomId %>";
	</script>
	<script src="/socket.io/socket.io.js" defer></script>
	<script src="script.js" defer></script>
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="video-grid"></div>
</body>
</html>